body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.screen {
    display: none;
    padding: 20px;
}

h2 {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    font-size: 18px;
    background: #ff6a00;
    border: none;
    border-radius: 10px;
    color: white;
}

.btn-gray {
    background: #b4b4b4;
}

.card {
    padding: 15px;
    background: white;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
